{% extends 'base.html' %}
{% block title %}Liburutegia{% endblock %}
{% block content %}
<div class="container">
    {% for datuak in data %}
    <h2>{{ datuak.kokalekua.izena }}</h2>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th class="col-1">ID</th>
            <th class="col-4">Titulua</th>
            <th class="col-3">Egilea</th>
            <th class="col-2">Generoa</th>
            <th class="col-2">Orrialde kopurua</th>
        </tr>
        </thead>
        <tbody>
        {% for liburu in datuak.liburuak %}
        <tr>
            <td class="col-1">{{ liburu.id }}</td>
            <td class="col-4">{{ liburu.titulua }}</td>
            <td class="col-3">{{ liburu.egilea }}</td>
            <td class="col-2">{{ liburu.generoa }}</td>
            <td class="col-2">{{ liburu.orrialde_kopurua }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5">Ez dago libururik.</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endfor %}
    <div class="row">
        <div class="col-6">
            <a href="/liburudenak" class="btn btn-primary">Liburu denak</a>
            <a href="/kokalekuak" class="btn btn-secondary">Kokalekuak</a>
        </div>
        <div class="col-6">
        </div>
    </div>
</div>



{% endblock content %}