{% extends 'base.html' %}

{% block content %}

{% for post in posta %}
<div class="row border border-dark mb-3">
    <div class="col-4"><p>{{post.noizsortua}}</p></div>
    <div class="col-4"><h2>{{post.izenburua}}</h2></div>
    <div class="col-3"></div>
    <div class="col-1"><p>{{post.id}}</p></div>
    <div class="col-12"><p>{{post.edukia}}</p></div>
    <div class="col-11"></div>
    <div class="col-1"><a href="/ezabatu?id_posta={{post.id}}" color="red">Ezabatu</a></div>
</div>
{% endfor %}

<a href="/add">Gehitu posta</a>

{% endblock content %}